<div class="delete-modal-background" (click)="onCloseModal()"></div>
<div class="delete-modal">
  <div class="delete-modal-inputs">
    <label for="name">{{ dashboard ? ('DELETE_CONFIRM.PLEASE_INPUT.DASHBOARD' | translate) : ('DELETE_CONFIRM.PLEASE_INPUT.USER' | translate) }}</label>
    <input
      type="text"
      id="name"
      name="name"
      [(ngModel)]="inputValue"
      #nameInput>
    <span *ngIf="error" class="input-error">{{ error }}</span>
  </div>
  <div class="delete-message" *ngIf="message">
    <p>{{ message }}</p>
  </div>
  <div class="delete-modal-btns">
    <button
      class="btn"
      (click)="dashboard ? onDeleteDashboard() : onDeleteUser()">{{ 'COMMON.DELETE' | translate }}</button>
    |
    <button
      class="btn"
      (click)="onCloseModal()">{{ 'COMMON.CANCEL' | translate }}</button>
  </div>
</div>