<form
  #createTaskForm="ngForm"
  (ngSubmit)="onSubmit(createTaskForm)"
  class="task-create-form">
  <div class="task-create-inputs">
    <label for="name">{{ 'COMMON.LABEL.ITEM_NAME' | translate }}</label>
    <input
      type="text"
      id="name"
      ngModel
      #nameInput
      name="name"
      required
      #dashboardName="ngModel">
    <span *ngIf="!dashboardName.valid && dashboardName.touched" class="input-error">{{ 'COMMON.ERROR.NAME_ITEM_INPUT' | translate }}</span>
  </div>
  <button
    class="btn create-task"
    [disabled]="!createTaskForm.valid">{{ 'COMMON.FORM.CREATE' | translate }}</button>
  <div class="create-error" *ngIf="error">
    <p>{{ error }}</p>
  </div>
  <div class="create-message" *ngIf="message">
    <p>{{ message }}</p>
  </div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
</form>