<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<form
  *ngIf="!isLoading"
  #addCommentForm="ngForm"
  (ngSubmit)="onSubmit(addCommentForm)"
  class="add-comment-form">
  <div class="add-comment-inputs">
    <label
      class="add-comment-label"
      for="commentText">{{ 'TASKS.ADD_COMMENT.COMMENT_TEXT' | translate }}</label>
    <input
        type="text"
        id="commentText"
        #textInput
        ngModel
        name="commentText"
        required
        #commentText="ngModel">
    <span *ngIf="!commentText.valid && commentText.touched" class="input-error">{{ 'TASKS.ADD_COMMENT.ERROR' | translate }}</span>
  </div>
  <button
    class="btn add-comment-submit"
    [disabled]="!addCommentForm.valid">{{ 'TASKS.ADD_COMMENT.ADD' | translate }}</button>
</form>
<div class="add-comment-error" *ngIf="error">
  <p>{{ error }}</p>
</div>
<div class="add-comment-message" *ngIf="message">
  <p>{{ message }}</p>
</div>