<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<form
  *ngIf="!isLoading && !message"
  #editDashboardForm="ngForm"
  (ngSubmit)="onSubmit(editDashboardForm)"
  class="dashboard-edit-form">
  <div class="dashboard-edit-inputs">
    <label for="name">{{ 'COMMON.LABEL.ITEM_NAME' | translate }}</label>
    <input
        type="text"
        id="name"
        ngModel="{{ dashboard?.name }}"
        #nameInput
        name="name"
        required
        #dashboardName="ngModel">
    <span *ngIf="!dashboardName.valid && dashboardName.touched" class="input-error">{{ 'COMMON.ERROR.ITEM_NAME_INPUT' | translate }}</span>
  </div>
  <button class="btn edit-dashboard">{{ 'COMMON.SAVE' | translate }}</button>
</form>
<div class="edit-error" *ngIf="error">
  <p>{{ error }}</p>
</div>
<div class="edit-message" *ngIf="message">
  <p>{{ message }}</p>
</div>