.toolbar {
  width: 100%;
  margin-top: 10px;
  padding: 0 10px 10px;
  border-bottom: 1px solid #E9C46A;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-header {
  text-transform: uppercase;
  cursor: default;
}

.toolbar-inputs {
  display: flex;
  gap: 10px;
}

.toolbar-input-group {
  display: flex;
  align-items: center;
  gap: 5px;
}

.toolbar-input {
  background: transparent;
  outline: none;
  border: 1px solid #E9C46A;
  border-radius: 4px;
  padding: 5px;
  color: #fff;
}

.sort-select {
  background: transparent;
  outline: none;
  border: 1px solid #E9C46A;
  border-radius: 4px;
  padding: 5px;
  color: #fff;
  cursor: pointer;
}

.sort-select option {
  background: transparent;
  color: #000;
}

.toolbar-btn {
  opacity: .6;
  text-transform: uppercase;
}

.toolbar-btn.active {
  opacity: 1;
}

@media (max-width: 992px) {
  .toolbar-header {
    font-size: 16px;
  }

  .toolbar-inputs label {
    font-size: 14px;
  }

  .toolbar-input, .sort-select {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .toolbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toolbar-inputs label {
    font-size: 12px;
  }

  .toolbar-input, .sort-select {
    font-size: 12px;
  }
}

@media (max-width: 576px) {
  .toolbar {
    align-items: center;
  }

  .toolbar-inputs {
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .toolbar-inputs label {
    font-size: 10px;
  }

  .toolbar-input, .sort-select, .toolbar-btn {
    font-size: 10px;
  }
}