<div class="toolbar" *ngIf="dashboards || tasks">
  <h3
    class="toolbar-header"
    *ngIf="dashboardName">{{ dashboardName }}</h3>
  <div class="toolbar-inputs">
    <div *ngIf="tasks" class="toolbar-input-group">
      <label
        for="filterInput">{{ 'TOOLBAR.FILTER' | translate }}</label>
      <input
        class="toolbar-input"
        id="filterInput"
        type="text"
        [(ngModel)]="name"
        (change)="onFilter()">
    </div>
    <div class="toolbar-input-group">
      <label
        for="sorting-select"
        *ngIf="!filtered">{{ 'TOOLBAR.SORT' | translate }}</label>
      <select
        class="sort-select"
        name="sort"
        id="sorting-select"
        *ngIf="!filtered"
        [(ngModel)]="sortingSelect"
        (change)="onSort()">
        <option value="name">{{ 'TOOLBAR.NAME' | translate }}</option>
        <option value="date">{{ 'TOOLBAR.DATE' | translate }}</option>
      </select>
      <button
        class="btn toolbar-btn"
        *ngIf="!filtered"
        [ngClass]="isAscActive ? 'active' : ''"
        (click)="onAscSelect()">{{ 'TOOLBAR.ASC' | translate }}</button>
      <button
        class="btn toolbar-btn"
        *ngIf="!filtered"
        [ngClass]="isAscActive ? '' : 'active'"
        (click)="onDescSelect()">{{ 'TOOLBAR.DESC' | translate }}</button>
    </div>
  </div>
</div>