<app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
<form
  *ngIf="!isLoading && !message"
  #editTaskForm="ngForm"
  (ngSubmit)="onSubmit(editTaskForm)"
  class="task-edit-form">
  <div class="task-edit-inputs">
    <label for="name">{{ 'COMMON.LABEL.ITEM_NAME' | translate }}</label>
    <input
        type="text"
        id="name"
        #nameInput
        ngModel="{{ task?.name }}"
        name="name"
        required
        #taskName="ngModel">
    <span *ngIf="!taskName.valid && taskName.touched" class="input-error">{{ 'COMMON.ERROR.ITEM_NAME_INPUT' | translate }}</span>
  </div>
  <button class="btn">{{ 'COMMON.SAVE' | translate }}</button>
</form>
<div class="edit-error" *ngIf="error">
  <p>{{ error }}</p>
</div>
<div class="edit-message" *ngIf="message">
  <p>{{ message }}</p>
</div>