<div>
  <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  <form
    #createDashboardForm="ngForm"
    (ngSubmit)="onSubmit(createDashboardForm)"
    class="dashboard-create-form">
    <div class="create-error" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div class="create-message" *ngIf="message">
      <p>{{ message }}</p>
    </div>
    <div class="dashboard-create-inputs">
      <label for="name">{{ 'COMMON.LABEL.ITEM_NAME' | translate }}</label>
      <input
          type="text"
          id="name"
          ngModel
          #nameInput
          name="name"
          required
          #dashboardName="ngModel">
      <span *ngIf="!dashboardName.valid && dashboardName.touched" class="input-error">{{ 'COMMON.ERROR.NAME_ITEM_INPUT' | translate }}</span>
    </div>
    <div class="dashboard-create-inputs">
        <label for="description">{{ 'DASHBOARDS.CREATE.DESCRIPTION' | translate }}</label>
        <textarea
            type="text"
            id="description"
            ngModel
            name="description"
            required
            #dashboardDescr="ngModel"></textarea>
        <span *ngIf="!dashboardDescr.valid && dashboardDescr.touched" class="input-error">{{ 'DASHBOARDS.CREATE.EMPTY_DESCR_ERROR' | translate }}</span>
    </div>
    <button
      class="btn create-dashboard"
      [disabled]="!createDashboardForm.valid">{{ 'COMMON.FORM.CREATE' | translate }}</button>
  </form>
</div>