<div class="user-page">
  <app-loading-spinner *ngIf="!user"></app-loading-spinner>
  <app-delete-confirm
    class="user-page-delete"
    *ngIf="isDelete"
    [user]="user"
    (closeModal)="onModalClose()"></app-delete-confirm>
  <div class="user-page-main" *ngIf="user">
    <p>{{ 'USER_PAGE.NAME' | translate: {userName: user.name} }}</p>
    <p>{{ 'USER_PAGE.EMAIL' | translate: {email: user.email} }}</p>
    <p>{{ 'USER_PAGE.CREATION_DATE' | translate: {createDate: user.creationDate.toLocaleDateString()} }}</p>
    <div class="user-page-btns">
      <button
      class="btn"
      (click)="onInfoChange()">{{ isInfoChange ? ('COMMON.CANCEL' | translate) : ('USER_PAGE.CHANGE_INFO' | translate) }}</button>
      |
      <button
      class="btn"
      (click)="onPasswordChange()">{{ isPasswordChange ? ('COMMON.CANCEL' | translate) : ('USER_PAGE.CHANGE_PASSWORD' | translate) }}</button>
      |
      <button
        class="btn"
        (click)="onModalOpen()">{{ 'USER_PAGE.DELETE_USER' | translate }}</button>
    </div>
    <app-user-edit
      *ngIf="isInfoChange || isPasswordChange"
      [user]="user"
      [changeMode]="changeMode"
      (closeForm)="onCloseForm()"></app-user-edit>
  </div>
</div>
